# Do not update the original dataset
dataset/

# Matlab cache files
*.asv
*.m~

# Do not upload the output files
output/
graphs/

# Matlab workspace files
*.mat

# windows cache file
thumbs.db

result.mat
.Rhistory
